*{
	margin: 0;
	padding: 0;
}
button, input{
	border: none;
}
body{
	font-family: "Roboto",sans-serif;
}
header{
	height: 100vh;
	background-image: url(../img/top_bgr.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.header{
	height: 111px;
	max-width: 90vw;
	margin: auto;
	padding-top: 10px;
}
.header #logo{
	width: 210px;
	display: inline-block;
}
.header .menu{
	display: inline-block;
	float: right;
}
.header .menu ul{
	margin-right: 7vw;
	margin-top: 3vh;
}
.header .menu li{
	display: inline-block;
	margin-right: 12px;
	font-size: 20px;
}
.header .menu li a{
	text-decoration: none;
	color: #11a8ab;
	font-size: 20px;
	letter-spacing: 2px;
}
.header .menu li a:hover{
	color: #ffffff;
}
header .head{
	max-width: 560px; 
	margin-top: 173px;
	margin-left: 60vw;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 24px;	
}
header .head h1{
	font-family: "Subway", arial;
	font-size: 60px;
}
header .head p{
	font-family: "Vogue Avant Garde";
	font-size: 30px;
	letter-spacing: 12px;
}
header .head .head-btn{
	margin-top: 131px;
	width: 262px;
	height: 70px;
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
	letter-spacing: 12px;
	font-size: 30px;
}
section .form{
	height: 100vh;
	width: 100%;
	padding-top: 50px;
	text-align: center;
	color: #1f253d;
}
.form .form-title{
	font-family: "olivier";
	font-size: 80px;
	letter-spacing: 8px;
	font-weight: 400;
	text-transform: lowercase;
}
.form form{
	width: 681px;
	margin: auto;
	padding-top: 56px;
}
.form form label{
	display: block;
	width: 100%;
	height: 68px;
	margin-bottom: 15px;
}
form label span{
	display: inline-block;
	text-align: left;
	width: 25%;
	float: left;
	font-size: 30px;
	font-weight: 300;
	margin-right: 10px;
}
input[type="text"], form button{
	width: 198px;
	height: 68px;
	border: 1px solid #1f253d;
	text-align: center;
	border-radius: 8px;
	font-size: 25px;
}
input[type="text"],input[type="email"], input[type="password"]{
	color: #1f253d;
	font-size: 25px;
	font-weight: 400;
}
input[type="email"], input[type="password"]{
	float: left;
}
form button{
	background-color: #1f253d;
	color: #ffffff;
}
.form .form-sub{
	width: 567px;
	height: 34px;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1.5px;
	margin: auto;
	margin-top: 25px;
}
.photo{
	height: 150vh;
	width: 100%;
	margin-top: 50px;
	position: relative;
	text-align: center;
}
.photo .ph-block{
	width: 90vw;
	display: inline-block;
	margin: auto;
}
.photo .ph-block div{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
	vertical-align: text-top;
}
.photo .photo1{
	height: 500px;
	width: 500px;
}
.photo .photo2{
	height: 504px;
	width: 673px;
}
.photo .photo3{
	width: 200px;
	height: 300px;
}
.photo .photo4{
	width: 300px;
	height: 450px;
}
.photo .photo5{
	width: 195px;
	height: 300px;
}
.photo-sub{
	height: 25vh;
	text-align: center;
	color: #1f253d;
	font-family: "Roboto - Thin";
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 25px;
}
.photo-sub h2{
	font-family: "Vogue Avant Garde - Extra Light";
	font-size: 50px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.photo-sub p{
	width: 1165px;
	height: 93px;
	margin: auto;
	text-align: left;
}
footer{
	text-align: center;
	color: #1f253d;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-top: 50px;
}
.footer-menu{
	width: 100%;
	max-width: 1140px;
	margin: auto;
	vertical-align: text-bottom;
	margin-top: 20px;
}
.footer-menu li{
	display: inline-block;

}
.footer-menu a{
	text-decoration: none;
	color: #1f253d;
	font-size: 25px;
	letter-spacing: 2.5px;
	border-bottom: solid 4px rgba(0,0,0,0);
	margin-left: 40px;
	padding: 10px;
}
.footer-menu a:hover{
	border-bottom: solid 4px #1f253d;
}