*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
}
header{
	height: 100vh;
	background-image: url(../img/top_bgr.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.header{
	height: 111px;
	max-width: 90vw;
	margin: auto;
	padding-top: 10px;
}
.header #logo{
	width: 210px;
	display: inline-block;
}
.header .menu{
	display: inline-block;
	float: right;
}
.header .menu ul{
	/*background-color: black;	*/
	margin-right: 7vw;
	margin-top: 3vh;
	font-family: Roboto;
}
.header .menu li{
	display: inline-block;
	margin-right: 12px;
	font-size: 20px;
}
.header .menu li a{
	text-decoration: none;
	color: #11a8ab;
	font-size: 20px;
	letter-spacing: 2px;
}
.header .menu li a:hover{
	color: #ffffff;
}
header .head{
	max-width: 560px; 
	margin-top: 173px;
	margin-left: 60vw;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 24px;	
}
header .head h1{
	font-family: Subway;
	font-size: 60px;
}
header .head p{
	font-family: "Vogue Avant Garde";
	font-size: 30px;
	letter-spacing: 12px;
}
header .head .head-btn{
	margin-top: 131px;
	width: 262px;
	height: 70px;
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
	letter-spacing: 12px;
	font-size: 30px;
}